# Python相关
.mpyproject.json
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
ENV/
env/

# 配置文件
config.ini

# 日志
*.log

# 编辑器/IDE相关
.idea/
.vscode/
*.swp
*.swo
.DS_Store